.selector {
  grid-column: 1/2;
  grid-row: 1/2;
}

div {
  margin: 20px;
}

.choices {
  display: flex;
  flex-direction: column;
}

button {
  width: 100px;
  background-color: var(--color3);
  color: var(--color5);
  align-self: center;
  margin: 4px;
}
