body {
  --color1: #d8e2dc;
  --color2: #ffffff;
  --color3: #ffcad4;
  --color4: #f4acb7;
  --color5: #9d8189;
  --header-height: 40px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color1);
}
