@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
  --color1: #16b0d3;
  --color2: #01616d;
  --color3: #349394;
  --color4: #44bfbc;
  --colorBlack: #040003;
  --colorWhite: #ffffff;
  --header-height: 40px;
  font-family: 'Archivo Black', sans-serif;
  background-color: var(--colorWhite);
}
